<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="FileSourceWithPath" value="./FileToImport.txt" />
		<add key="DbConnectionString" value="Server=tcp:server,1433;Initial Catalog=dbname;Persist Security Info=False;User ID=useruname;Password=password;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
		<add key="FileLogWithPath" value="Logs_{0:yyyy-MM-dd}.txt" />
		<add key="SkipFirstLine" value="true" />
		<add key="FileSourceDateColumnFormat" value="dd/mm/yyyy" />

		<add key="FtpHost" value="127.0.0.1"/>
		<add key="FtpUsername" value="username"/>
		<add key="FtpPassword" value="password"/>
		<add key="FtpFileNameWithPath" value="example.txt"/>

		<add key="RowsNumberBuffer" value="1000" />

		<add key="SqlInsertString" value="insert into [MyTable]([name],[date]) values(@name, @date)"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>